.imagem{
position: absolute;
    aspect-ratio: 450 / 450;
    width: 77.1%;
    height: 52.6%;
    top: 18.1%;
    left: 11.3%;
    overflow: hidden;
}

.imagem img {
    width: 100%;
    height: 100%;
}